.dart_tool/
.flutter-plugins*
.flutter-plugins-dependencies
.packages
.melos_tool/
.idea/
android/.gradle/
build/
**/*.apk
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/


**/__pycache__/
**/*.py[cod]
.venv/
venv/
.env
*.sqlite3
.DS_Store
*.iml
